body{
    padding-top: 80px;
    padding-bottom: 25px;
}

/*
* navbar
*/
.navbar-default{
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-default .navbar-nav>li>a{
    color: #3b3b3b3b;
}

.navbar-nav>li>a{
    padding: 30px;
}
.navbar-brand{
    padding-top: 30px;
    padding-bottom: 30px;
}


/*
* jumbo header
*/
.jumbo {
    height: 600px;
    margin-bottom: 60px;
    position: relative;
}
.jumbo-caption {
    position: absolute;
    right: 15%;
    top: 50%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.jumbo-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.jumbo .item {
    height: 600px;
    background-color: #777;
    display: block;
}
.jumbo-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

/*
* menu
*/

.item{
    margin-bottom: 35px;
}
.food{
    font-weight: bold;
}
.ingredients{
    font-style: italic;
    font-size: small;
}