body{
    padding-top: 80px;
    padding-bottom: 25px;
}

/*
* navbar
*/
.navbar-default{
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-default .navbar-nav>li>a{
    color: #3b3b3b3b;
}

.navbar-nav>li>a{
    padding: 30px;
}
.navbar-brand{
    padding-top: 30px;
    padding-bottom: 30px;
}


/*
* jumbo header
*/
.jumbo {
    height: 600px;
    margin-bottom: 35px;
    position: relative;
}
.jumbo-caption {
    position: absolute;
    right: 15%;
    top: 50%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.jumbo-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.jumbo .item {
    height: 600px;
    background-color: #777;
    display: block;
}
.jumbo-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}

/*
* menu
*/
.menu{
    border-top: #f34949 solid thick;
    margin-bottom: 100px;
}
.menu>.container>.title>.col-md-2{
    background-color: #f34949;
    margin-bottom: 35px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.item{
    margin-bottom: 35px;
}
.food{
    font-weight: bold;
}
.ingredients{
    font-style: italic;
    font-size: small;
}
.load-more{
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #b7b7b7;
}

/*
* featured
*/
#myCarousel .thumbnail {
    margin-bottom: 0;
}
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
}
.carousel-control {
    color:#fff;
    top:40%;
    color:#428BCA;
    bottom:auto;
    padding-top:4px;
    width:30px;
    height:30px;
    text-shadow:none;
    opacity:1;
}
.carousel-control:hover {
    color: #d9534f;
}
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
}
.carousel-control.right {
    left:auto;
    right:-32px;
}
.carousel-control.left {
    right:auto;
    left:-32px;
}

.carousel-indicators {
    top:-30px;
    right: 0;
    left: auto;
    text-align: right;
}
.carousel-indicators li {
    border-radius:0;
    width:10px;
    height:10px;
    background:#ccc;
    border:1px solid #ccc;
}
.carousel-indicators .active {
    width:12px;
    height:12px;
    background:#3276b1;
    border-color:#3276b1;
}